<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://www.springframework.org/schema/beans"
  xmlns:util="http://www.springframework.org/schema/util"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.1.xsd">

    <util:constant id="output" static-field="java.lang.System.out"/>

    <bean id="CSVConfig" class="ru.otus.spring.config.CSVConfig">
        <constructor-arg name="csvPath" value="/questions.csv"/>
    </bean>

    <bean id="Printer" class="ru.otus.spring.service.PrinterImpl">
        <constructor-arg name="output" ref="output"/>
    </bean>

    <bean id="Reader" class="ru.otus.spring.service.CSVReader">
        <constructor-arg name="csvConfig" ref="CSVConfig"/>
    </bean>

    <bean id="Starter" class="ru.otus.spring.service.Starter">
        <constructor-arg name="reader" ref="Reader"/>
        <constructor-arg name="printer" ref="Printer"/>
    </bean>

</beans>
