<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="CSVConfig" class="ru.otus.spring.config.CSVConfig">
        <constructor-arg name="csvPath" value="/questions.csv"/>
    </bean>

    <bean id="Starter" class="ru.otus.spring.service.Starter">
        <constructor-arg name="csvConfig" ref="CSVConfig"/>
    </bean>

</beans>
